html {
  overflow-x: hidden;
}
body {
  font-family: 'Roboto';
}
body,
h1,
h2 {
  margin: 0;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 48px;
}
h2.home-sections {
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 70px;
}
nav {
  position: fixed;
  padding: 30px 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  z-index: 10;
}
nav img {
  width: 30px;
  display: none;
  padding-bottom: 5px;
}
nav img:hover {
  cursor: pointer;
}
nav a {
  color: purple;
  margin-right: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}
nav a:last-child {
  margin-right: 50px;
}
nav a:hover {
  color: orangered;
  text-decoration: underline;
}
.anchor {
  height: 80px;
  position: absolute;
  bottom: 0;
}
.shadow {
  box-shadow: 0 5px 15px rgba(192, 192, 192, 0.6);
}
h1 {
  text-align: center;
  padding-top: 150px;
}
h1#project-title {
  font-size: 36px;
  padding: 0;
  margin-top: 30px;
}
#project-abstract {
  text-align: center;
  margin: 10px;
  font-size: 18px;
}
#slogan {
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
}
.anim-paused {
  animation-play-state: paused;
}
.anim-running {
  animation-play-state: running;
}
#hand-held-out {
  text-align: center;
  margin-top: 50px;
  animation: img-display 1.5s ease-in-out;
}
@keyframes img-display {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#hand-held-out img {
  width: 500px;
}
.anim-3pts {
  display: inline;
}
.pt1 {
  animation: pt1-flash 1.5s infinite;
  color: lightgray;
}
@keyframes pt1-flash {
  0% {
    color: #000;
  }
  33% {
    color: black;
  }
  50% {
    color: lightgray;
  }
  100% {
    color: lightgray;
  }
}
.pt2 {
  animation: pt2-flash 1.5s infinite;
  color: gray;
}
@keyframes pt2-flash {
  0% {
    color: lightgray;
  }
  33% {
    color: lightgray;
  }
  50% {
    color: black;
  }
  100% {
    color: lightgray;
  }
}
.pt3 {
  animation: pt3-flash 1.5s 0.1s infinite;
  color: lightgray;
}
@keyframes pt3-flash {
  0% {
    color: lightgray;
  }
  50% {
    color: lightgray;
  }
  66% {
    color: #000;
  }
  100% {
    color: #000;
  }
}
.hidden {
  display: none;
}
#about-me {
  position: relative;
}
p.about-me-text {
  text-align: justify;
  margin: 0;
  line-height: 24px;
}
#about-text {
  animation: text-opacity 1.4s;
}
@keyframes text-opacity {
  from {
    color: transparent;
  }
  50% {
    color: transparent;
  }
  to {
    color: #000;
  }
}
#about-me div.about-img {
  float: left;
}
.about-me-img.desktop {
  width: 66%;
  height: auto;
  margin-left: 20px;
  float: right;
  opacity: 0;
}
#about-img {
  animation: img-slidein 1s;
  opacity: 1;
}
@keyframes img-slidein {
  from {
    width: 5%;
  }
  to {
    width: 66%;
  }
}
.about-me-img.mobile {
  display: none;
  margin: 50px 0 0;
  width: 100%;
}
.full-screen {
  min-height: 100vh;
}
.full-screen:last-child {
  padding-bottom: 50px;
}
.blue {
  background-color: #f2f2ff;
}
.purple {
  background-color: #fff2ff;
}
section {
  position: relative;
  padding: 60px 80px 0;
}
section.long {
  padding-bottom: 80px;
}
#skills-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  height: 1;
  opacity: 1;
  /*animation: skills-height 8s;*/
}
/*
@keyframes skills-height {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 100%;
    opacity: 1;
  }
}
*/
#skills-container img {
  width: 64px;
  height: 64px;
}
figure {
  display: flex;
  align-items: center;
  height: 124px;
  margin: 0;
  padding-left: 30px;
  gap: 40px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  animation: display-skill 0.5s infinite 5s;
}
@keyframes display-skill {
  from {
    opacity: 0;
  }
  99.99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#mask-skills {
  background-color: #f2f2ff;
  opacity: 0;
  position: absolute;
  width: 103%;
  height: 780px;
  bottom: -20px;
  margin-left: -20px;
  z-index: 5;
}
.mask-reduce {
  animation: mask-reduce-height 5s;
}
@keyframes mask-reduce-height {
  from {
    height: 780px;
    opacity: 1;
  }
  16.5% {
    height: 780px;
  }
  16.66% {
    height: 620px;
  }
  33.2% {
    height: 620px;
  }
  33.33% {
    height: 472px;
  }
  49.9% {
    height: 472px;
  }
  50% {
    height: 308px;
  }
  66.5% {
    height: 308px;
  }
  66.66% {
    height: 164px;
  }
  83.2% {
    height: 164px;
  }
  to {
    height: 0;
    opacity: 1;
  }
}
.row-1 {
  animation: card-display 1s ease-in-out;
}

.row-2 {
  animation: card-display 1s ease-in-out 1s;
}

.row-3 {
  animation: card-display 1s ease-in-out 2s;
}
.row-4 {
  animation: card-display 1s ease-in-out 3s;
}
.row-5 {
  animation: card-display 1s ease-in-out 4s;
}
.row-6 {
  animation: card-display 1s ease-in-out 5s;
}

@keyframes card-display {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.project-card {
  position: relative;
  height: 30vw;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
}
.main-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: 2;
}
.project-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(80, 0, 80, 0.9), transparent);
  border-radius: 20px;
  display: none;
}
.project-details h3 {
  padding-top: 50px;
}
.project-details h3,
.project-details p {
  color: white;
  text-align: center;
}
.main-mask:hover div.project-details {
  display: block;
}
.main-mask:hover + iframe {
  opacity: 0.2;
}
.techno {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.techno span.key-word {
  color: purple;
  font-size: 12px;
  font-weight: 700;
  background-color: #f2f2ff;
  margin: 0 10px 10px 0;
  padding: 8px;
  border-radius: 10px;
}
.banner {
  position: relative;
  width: 80vw;
  height: 25vw;
  margin: 50px auto 0;
  box-sizing: border-box;
  border-radius: 30px;
  overflow: hidden;
}
iframe {
  border: none;
  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  background-color: white;
}
.banner-frame {
  width: 150%;
  height: 250%;
  -ms-transform: scale(0.666, 0.4);
  -moz-transform: scale(0.666, 0.4);
  -o-transform: scale(0.666, 0.4);
  -webkit-transform: scale(0.666, 0.4);
  transform: scale(0.666, 0.4);
}
.projects-frame {
  width: 250%;
  height: 250%;
  -ms-transform: scale(0.4);
  -moz-transform: scale(0.4);
  -o-transform: scale(0.4);
  -webkit-transform: scale(0.4);
  transform: scale(0.4);
  border-radius: 20px;
  z-index: 1;
}
.banner-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(128, 128, 128, 0.5), transparent);
  z-index: 2;
}
.description,
.links {
  width: 80vw;
  margin: auto;
}
.links {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.links a {
  margin: 0 20px;
}
#contact-form {
  max-width: 360px;
  padding: 30px;
  margin: auto;
  background-color: rgba(0, 0, 255, 0.1);
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  animation: display-form 3s;
}
@keyframes display-form {
  from {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.contact-form-element {
  position: relative;
  width: 100%;
}
.first-line {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 30px;
}
.contact-form-error {
  margin: 0;
  text-align: right;
  color: red;
  font-weight: 700;
  font-size: 10px;
}
.hidden {
  display: none;
}
#contact-form input {
  height: 25px;
  border: thin solid black;
}
#contact-form input,
#contact-form textarea {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
}
#contact-form input.error,
#contact-form textarea.error {
  border: thin solid red;
  outline: none;
}
#contact-form input:focus,
#contact-form textarea:focus {
  border: thin solid blue;
  outline: none;
}
#contact-form textarea {
  height: 150px;
}
.asterisk {
  color: red;
}
#submit-btn {
  margin: 25px auto 0;
}
a.details-btn {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  margin: auto;
}
a.button {
  width: fit-content;
}
a.back-link {
  position: absolute;
  top: -5px;
  left: 30px;
  font-size: 48px;
  font-weight: 700;
  color: purple;
}
a.back-link:hover {
  color: red;
}
.button {
  display: block;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
.button:hover {
  background-color: rgba(255, 0, 0, 1);
  cursor: pointer;
}
.button:active:enabled {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.button:disabled {
  background-color: dimgrey;
}
#social-media {
  display: flex;
  justify-content: center;
  gap: 120px;
  margin: 0 -90px;
  position: absolute;
  top: 50px;
  width: 100%;
}
#social-media a {
  width: 50px;
  height: 50px;
  background-color: white;
  padding: 5px;
  border-radius: 50px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
}
#social-media img {
  width: 100%;
}

#linkedin {
  animation: display-linkedin 1s;
}
@keyframes display-linkedin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#github {
  animation: display-git 2s;
}
@keyframes display-git {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1600px) {
  #skills-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #projects-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 992px) {
  nav {
    justify-content: center;
  }
  nav a:last-child {
    margin-right: 0;
  }
  #skills-container {
    grid-template-columns: 1fr 1fr;
  }
  #projects-container {
    grid-template-columns: 1fr;
  }
  .project-card {
    height: 50vw;
  }
}
@media screen and (max-width: 768px) {
  nav.blue {
    position: absolute;
    gap: 0;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px;
    padding: 10px;
    width: max-content;
    right: 0;
    background-color: rgba(242, 242, 255, 0.8);
  }
  nav.shadow {
    box-shadow: none;
  }
  nav a {
    margin-right: 0;
    padding: 10px 0;
    display: none;
  }
  nav a.hamburger-menu {
    display: inline;
  }
  nav img {
    display: inline;
  }
  #hand-held-out img {
    width: 60%;
  }
  #skills-container {
    grid-template-columns: 1fr;
  }
  .about-me-img.desktop {
    display: none;
  }
  .about-me-img.mobile {
    display: block;
  }
  section {
    padding-bottom: 80px;
  }
  .anchor {
    height: 0;
  }
  h2.home-sections {
    text-align: center;
  }
  .project-details h3 {
    padding-top: 20px;
  }
  a.details-btn {
    bottom: 30px;
  }
  #contact-form {
    max-width: none;
  }
}
